html, body {
  margin: 0;
  padding: 0;
}

.custom-navbar-color {
  background-color: #1cb698;
}

.container {
  max-width: none;
}
.contenedor-img img {
  width: 450px;
  height: 450px;
  border-radius: 10%;
}

#formacion-academica {
  background-color: #1cb698; 
  padding: 20px;
  width: 100vw;
}
.container text-center{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.mis-proyectos{
  text-align: center;
}
footer {
    position: relative;
    top: 20px;
    text-align: center;
    color: #1cb698;
    height: 150px;
    margin: 0%;
    background-color: #1cb698;
  }
  
  footer p {
    position: relative;
    top: 20px;
    color: black;
    margin: 0%;
    opacity: 1;
  }
  footer a {
    text-decoration: none;
    display: inline-block;
  
    color: black;
    margin: 1px;
    font-size: 30px;
  }
  .redes a {
    text-decoration: none;
    display: inline-block;
  
    color: white;
    margin: 2px;
    font-size: 26px;
  }
  